body {
    background: linear-gradient(90deg, rgb(185, 185, 185) 0%, rgb(189, 189, 189) 50%, rgb(189, 189, 189) 88%);
}

.principal-title {
    font-size: 30px;
    color: black;
    border: azure;
    text-align: center;
}
.login-intro {
    padding: 20px;
}

.dashboard-charts {
    border-radius: 10px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.dashboard-cards {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 25px;
    padding: 30px 10px;
}

.bar-chart {
    margin-bottom: 450px;
}

.pizza-chart {
    margin-bottom: 450px;
}

.dashboard-links:visited {
    text-decoration: none;
    color: inherit;
}

.dashboard-links:link {
    text-decoration: none;
    color: inherit;
}

.dashboard-card-hover {
    transition: transform 0.4s ease-in-out;
}

.dashboard-card-hover:hover {
    transform: scale(1.03);
    cursor: pointer;
    filter: brightness(0.97);
}

.navbar-dark .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.7);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.85);
}

.btn-filter-players {
    transition: transform 0.4s ease-in-out;
}

.btn-filter-players:hover {
    transform: scale(1.02);
    background-color: dimgrey;
    color: white;
}

.btn-secondary.btn-sm,
.btn-primary.btn-sm {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.player-position,
.player-weight,
.player-height,
.player-age,
.player-birthdate,
.player-club {
    display: table-cell;
}

@media (max-width: 768px) {
    .player-nacionality,
    .player-weight,
    .player-height,
    .player-age,
    .player-birthdate,
    .player-club {
        display: none;
    }
}